.bg-cover {
  background-size: cover;
  background-repeat: no-repeat;
}

.font-rmtt {
  font-family: "RMTT";
  font-size: 80px;
  color: #FFFFFF;
}

.font-common {
  font-size: 12px;
  color: #FFFFFF;
}

@import "./fontRMTT.scss";
@import "./animate.scss";